$colors: (
  grey: #c9c9c9,
  black: #000000,
  offblack: #1a1a1a,
  secondaryblue: rgb(83, 167, 234),
  blue: #0a7198
);

/* FONTS */

@import url("https://fonts.googleapis.com/css?family=Raleway:400,700");

@font-face {
  font-family: "big john";
  src: url("/fonts/bigjohn-webfont.woff2") format("woff2"),
    url("/fonts/bigjohn-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}




@font-face {
  font-family: "panton";
  src: url("/fonts/panton.woff2") format("woff2"),
    url("/fonts/panton.WOFF") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "panton";
  src: url("/fonts/panton-light.woff2") format("woff2"),
    url("/fonts/panton-light.WOFF") format("woff");
  font-weight: normal;
  font-style: normal;
}
html {
  padding: 0;
  margin: auto 0;
}
body {
  margin: auto 0;
  padding: 0;
  font-family: "raleway", "Avenir";
  overflow-x: hidden;
  .header-flex {
    display: flex;
    align-items: center;
    height: 0;
    padding: 2rem;
    margin: auto 0;
    
  }

  .logo {
    flex-grow: 1;
  }

  .logo img {
    height: 40px;
    
    width: 50px;
  }

  .ham {
    width: 35px;
    height: 30px;
    display: block;
    cursor: pointer;
    transform: scaleX(-1);
  }

  .ham div {
    height: 4px;
    background: map-get($colors, offblack);
    margin: 5px 0;
    border-radius: 24px;
    transition: 0.3s;
  }

  .menu {
    display: none;
  }

  .one {
    width: 50px;
  }

  .two {
    width: 30px;
  }

  .three {
    width: 40px;
  }
  .ham:hover div {
    width: 50px;
  }

  .menu li {
    padding: 10px;
    list-style-type: none;
    font-family: raleway;
    font-weight: 400;
    font-size: 12px;
  }
  .nav-container {
    background-color: rgba(83, 167, 234, 0.9);
    width: 100%;
    height: 0;
    z-index: 5;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transition: all 0.5s;
    overflow-y: hidden;
    padding: 0;
    overflow-x: hidden;
  }
  .nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    padding: 0;
  }

  .nav li {
    list-style-type: none;
    padding: 10px 0;
    font-size: 30px;
    font-family: panton;
  }

  .nav li a {
    color: #fff;
    text-decoration: none;
  }

  .nav li a:hover {
    color: map-get($colors, offblack);
  }

  .menu li a {
    color: black;
    text-decoration: none;
    font-family: panton;
    text-align: center;
    width: 100vh;
  }

  .nav-container .closeBtn {
    position: absolute;
    top: 20px;
    right: 50px;
    font-size: 40px;
    color: white;
    text-decoration: none;
    width: 5%;
  }

  /*****************
  MENU LINK Animations
  */

  
  .link-1::after, .link-2::after,.link-3::after {
    content: '';
    display: block;
    width: 0;
    height:2px;
    background: map-get($colors, secondaryblue);
    transition: width 0.3s;
  }
  
  .link-1:hover::after, .link-2:hover::after, .link-3:hover::after {
    transition: width 0.3s;
    width:100%;
  }

  /****************************
 CONTENT SCSS
 */

  .title {
    text-align: center;
    font-family: panton;
    font-weight: bold;
    color: map-get($colors, blue);
    position: relative;
    top: 2rem;
  }
  /**********************************
Form Contact 
*/

  
  .grid-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 70vh;
    position: relative;
    bottom: 1rem;
    
  }

  .button-container {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
  }
  .button {
    font-family: panton;
    color: #fff;
    font-size: 12px;
    text-decoration: none;
    letter-spacing: 0.1rem;
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    border-radius: 5%;
    transition: all 0.3s ease;
    background-color: map-get($colors, secondaryblue);
    box-shadow: inset 0 0 0 99999px rgba(255, 255, 255, 0.1);
  }
  .button:hover {
    box-shadow: none;
  }

  h4{
    text-align: center;
  }

  .left {
    padding-top: 5rem;
    padding-bottom: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 0.1fr);
    grid-template-rows: repeat(3, 0.1fr);
    justify-content: center;
    align-items: center;
    grid-gap: 2rem;
    grid-template-areas:
      "title title"
      "insta linkin"
      "twitter youtube";

      i{
        color:map-get($colors, secondaryblue);
        
      }

    a {
      color: map-get($colors, offblack);
      transition: all 0.3s ease;
      text-align: center;
      font-family: panton;
      font-size: 12px;
      text-decoration: none;
    }

    a:hover {
      color: map-get($colors, offblack);
    }

    h4 {
      grid-area: title;
    }
  }

  footer {
  
   display: flex;
   height: 5vh;
   align-items: center;
   padding: 1rem;
    .copy {
      flex-grow: 1;
      font-size: 12px;
    }
    .pgnum {
      font-size: 16px;
      font-family: big john;
      span {
        color: map-get($colors, blue);
      }
    }
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) and (-webkit-min-device-pixel-ratio: 1) {
  body {
    overflow-x: hidden;

    .header-flex {
      height: 5vh;
  padding: 1rem;
    }
    .menu {
      display: flex;
      width: 100%;
    }


    .title{
      font-size: 80px;
      position: relative;
      top: 5rem;
    }
    .grid-container{
      height: 60vh;
    }

    

    .grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 100vh;
      grid-gap: 5rem;
      justify-items: center;
      justify-content: center;
      align-items: center;
      position: relative;
      bottom: 5rem;
    
    }

    
    .social {
      top: 0;
      height: 0;
    }
    .left {
      grid-template-rows: repeat(3, 0.1fr);
      grid-template-columns: repeat(2, 0.3fr);
      grid-gap: 3rem;
    }

    
  }
}

@media screen and (min-device-width: 1024px) and (max-device-width: 1440px) and (-webkit-min-device-pixel-ratio: 1) {
  body {
    overflow-x: hidden;
    .header-flex {
      padding: 3rem;
    }
    .menu {
      display: flex;

      width: 100%;
      
      
    }
   
    .title {
      position: relative;
      top: 5rem;
      font-size: 80px;
    }

    .social {
      width: 100%;
    }

  
    .grid-container{
      height: 60vh;
    }
    .grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 100vh;
      justify-items: center;
      align-items: center;
      grid-gap: 5rem;
      position: relative;
      bottom: 5rem;
    }

   
    .social {
      top: 0;
      height: 0;
    }
    .left {
      grid-template-rows: repeat(3, 0.1fr);
      grid-template-columns: repeat(2, 0.3fr);
      grid-gap: 3rem;
      
      
    }

    footer {
    align-items: center;
    padding: 3rem;
    padding-top: 0;
    }
  }
}

@media screen and(min-device-width: 1440px) and (max-device-width: 1600px) {
  body {
    overflow-x: hidden;

    .header-flex {
      padding: 3rem;
    }

    .menu {
      display: flex;
      width: 100%;
      
      
    }

    .menu li {
      font-size: 16px;
    }

  
    .ham {
      width: 35px;
    }
    .logo img {
      height: 50px;
      width: 60px;
    }

    .title {
      font-size: 80px;
      position: relative;
      top: 5rem;
    }
    
    .grid-container{
      height: 60vh;
    }
  

    .grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 100vh;
      justify-content: center;
      align-items: center;
      grid-gap: 5rem;
      position: relative;
      bottom: 5rem;
    }

   
    
    .social {
      top: 0;
      height: 0;
      
    }
    .left {
      grid-template-rows: repeat(3, 0.3fr);
      grid-template-columns: repeat(2, 0.5fr);
      grid-gap: 3rem;
     
    }

   
  }
}

@media screen and(min-device-width: 1600px) and (max-device-width: 1920px) {
  body {
    overflow-x: hidden;
    .header-flex {
      padding: 3rem;
    }

    .menu {
      display: flex;
     width: 100%;
     
     
    }

    .menu li {
      font-size: 16px;
    }
    
   
    .ham {
      width: 35px;
    }
    .logo img {
      height: 50px;
      width: 60px;
    }

    .title {
      position: relative;
      top: 5rem;
      font-size: 80px;
    }


    a{
      text-align: center;
    }
   .grid-container{
     height: 60vh;
   }

    .grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 100vh;
      justify-items: center;
      align-items: center;
      grid-gap: 5rem;
      position: relative;
      bottom: 5rem;
    }

    .left {
      grid-template-rows: repeat(3, 0.1fr);
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 3rem;
    }

    footer{
      padding: 4rem;
      padding-top: 0;
    }
  }
}

@media screen and (min-device-width: 1920px) and (max-device-width: 2560px) and (-webkit-min-device-pixel-ratio: 1) {
  body {
    overflow-y: hidden;
    .header-flex {
     padding: 4rem;
    }
    .menu {
      display: flex;

      width: 100%;
      
    }

    .menu li {
      font-size: 16px;
    }
   
    .logo img {
      height: 50px;
      width: 60px;
    }


    .title {
      position:relative;
      top: 5rem;
      font-size: 100px;
    }

   
   
    a{
      text-align: center;
    }

    .grid-container{
      height: 50vh;
    }
    .grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 100vh;
      justify-content: center;
      align-items: center;
      grid-gap: 5rem;
    
      position: relative;
      bottom: 5rem;
      
      
      
    }

    
   
    
    .left {
      grid-template-rows: repeat(3, 0.1fr);
      grid-template-columns: repeat(2, 0.1fr);
      grid-gap: 3rem;
      justify-content: center;
      align-items: center;
      
    }

   
  }
}

@media screen and (min-device-width: 2560px) and (-webkit-min-device-pixel-ratio: 1) {
  body {
    overflow-y: hidden;
    .header-flex {
     padding: 4rem;
    }
    .menu {
      display: flex;

      width: 100%;
      
    }

    .menu li {
      font-size: 16px;
    }
   
    .logo img {
      height: 50px;
      width: 60px;
    }


    .title {
      
      font-size: 150px;
      position: relative;
      top: 20rem;
    }

   
   
    a{
      text-align: center;
    }

    .grid-container{
      height: 50vh;
      
    }
    .grid {
      padding: 5rem;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 50vh;
      justify-content: center;
      align-items: center;
      grid-gap: 5rem;
      
    

      
      
      
    }

    
   
    
    .left {
      grid-template-rows: repeat(3, 0.1fr);
      grid-template-columns: repeat(2, 0.1fr);
      grid-gap: 3rem;
      justify-content: center;
      align-items: center;
      
    }

   
  }
}
