/* FONTS */
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900|Raleway");
html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #A09383;
}

/*******************
Header(nav,logo,links,etc)
*/
.header-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
}

.header-flex .logo {
  -webkit-transition: -webkit-transform 0.4s ease;
  transition: -webkit-transform 0.4s ease;
  transition: transform 0.4s ease;
  transition: transform 0.4s ease, -webkit-transform 0.4s ease;
  padding: 0;
  margin: 0;
}

.header-flex .logo img {
  width: 45px;
  height: 40px;
}

.header-flex .logo:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.header-flex .ham {
  width: 35px;
  height: 30px;
  display: block;
  cursor: pointer;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

.header-flex .ham div {
  height: 4px;
  background: black;
  margin: 5px 0;
  border-radius: 24px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header-flex .one {
  width: 50px;
}

.header-flex .two {
  width: 30px;
}

.header-flex .three {
  width: 40px;
}

.header-flex .ham:hover div {
  width: 50px;
}

.header-flex .menu {
  visibility: hidden;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /*****************
    MENU LINK Animations
    */
}

.header-flex .menu li {
  padding: 5px;
  list-style-type: none;
  display: inline-block;
  font-size: 12px;
}

.header-flex .menu li a {
  color: #252625;
  text-decoration: none;
  font-family: 'raleway';
  text-align: center;
  width: 100vh;
}

.header-flex .menu .link-1::after,
.header-flex .menu .link-2::after,
.header-flex .menu .link-3::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #f8edda;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}

.header-flex .menu .link-1:hover::after {
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
  width: 100%;
}

.header-flex .menu .link-2:hover::after {
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
  width: 100%;
}

.header-flex .menu .link-3:hover::after {
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
  width: 100%;
}

/*************************
NAV OVERLAY 
*/
.nav-container {
  background-color: #252625;
  width: 100%;
  height: 0;
  z-index: 5;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  overflow-y: hidden;
  padding: 0;
  overflow-x: hidden;
}

.nav-container .nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  text-align: center;
  padding: 0;
}

.nav-container .nav li {
  list-style-type: none;
  padding: 10px 0;
  font-size: 30px;
}

.nav-container .nav li a {
  color: #f8edda;
  text-decoration: none;
  font-family: 'raleway';
}

.nav-container .nav li a:hover {
  color: #A09383;
}

.nav-container .closeBtn {
  position: absolute;
  top: 20px;
  right: 50px;
  font-size: 40px;
  color: #A09383;
  text-decoration: none;
  width: 5%;
}

/***********************
MAIN CONTENT 
*/
.title {
  text-align: center;
  font-family: 'Playdair Display';
  font-weight: 700;
  color: #252625;
  position: relative;
}

/**********************************
Form Contact 
*/
.grid-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70vh;
  position: relative;
  bottom: 1rem;
}

.button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 1rem;
}

.button {
  font-family: 'Playfair Display';
  font-style: italic;
  color: #f8edda;
  font-size: 12px;
  text-decoration: none;
  letter-spacing: 0.1rem;
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  border-radius: 5%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: #8497A1;
  -webkit-box-shadow: inset 0 0 0 99999px rgba(255, 255, 255, 0.1);
          box-shadow: inset 0 0 0 99999px rgba(255, 255, 255, 0.1);
}

.button:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

h4 {
  text-align: center;
}

.left {
  padding-top: 5rem;
  padding-bottom: 1rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (0.1fr)[2];
      grid-template-columns: repeat(2, 0.1fr);
  -ms-grid-rows: (0.1fr)[3];
      grid-template-rows: repeat(3, 0.1fr);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 2rem;
      grid-template-areas: "title title" "insta linkin" "twitter youtube";
}

.left a {
  color: #252625;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  text-align: center;
  text-decoration: none;
}

.left a:hover {
  color: #f8edda;
}

.left h4 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: title;
}

footer {
  font-family: 'raleway';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 5vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  font-size: 12px;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) and (-webkit-min-device-pixel-ratio: 1) {
  body {
    overflow-x: hidden;
  }
  body .header-flex {
    height: 5vh;
    padding: 1rem;
  }
  body .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
  body .title {
    font-size: 80px;
    position: relative;
    top: 5rem;
  }
  body .grid-container {
    height: 60vh;
  }
  body .grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: 100vh;
        grid-template-rows: 100vh;
    grid-gap: 5rem;
    justify-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    bottom: 5rem;
  }
  body .social {
    top: 0;
    height: 0;
  }
  body .left {
    -ms-grid-rows: (0.1fr)[3];
        grid-template-rows: repeat(3, 0.1fr);
    -ms-grid-columns: (0.3fr)[2];
        grid-template-columns: repeat(2, 0.3fr);
    grid-gap: 3rem;
  }
}

@media screen and (min-device-width: 1024px) and (max-device-width: 1440px) and (-webkit-min-device-pixel-ratio: 1) {
  body {
    overflow-x: hidden;
  }
  body .header-flex {
    padding: 3rem;
  }
  body .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
  body .title {
    position: relative;
    top: 5rem;
    font-size: 80px;
  }
  body .social {
    width: 100%;
  }
  body .grid-container {
    height: 60vh;
  }
  body .grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: 100vh;
        grid-template-rows: 100vh;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    grid-gap: 5rem;
    position: relative;
    bottom: 5rem;
  }
  body .social {
    top: 0;
    height: 0;
  }
  body .left {
    -ms-grid-rows: (0.1fr)[3];
        grid-template-rows: repeat(3, 0.1fr);
    -ms-grid-columns: (0.3fr)[2];
        grid-template-columns: repeat(2, 0.3fr);
    grid-gap: 3rem;
  }
  body footer {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 3rem;
    padding-top: 0;
  }
}

@media screen and (min-device-width: 1440px) and (max-device-width: 1600px) {
  body {
    overflow-x: hidden;
  }
  body .header-flex {
    padding: 3rem;
  }
  body .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
  body .menu li {
    font-size: 16px;
  }
  body .ham {
    width: 35px;
  }
  body .logo img {
    height: 50px;
    width: 60px;
  }
  body .title {
    font-size: 80px;
    position: relative;
    top: 5rem;
  }
  body .grid-container {
    height: 60vh;
  }
  body .grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: 100vh;
        grid-template-rows: 100vh;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    grid-gap: 5rem;
    position: relative;
    bottom: 5rem;
  }
  body .social {
    top: 0;
    height: 0;
  }
  body .left {
    -ms-grid-rows: (0.3fr)[3];
        grid-template-rows: repeat(3, 0.3fr);
    -ms-grid-columns: (0.5fr)[2];
        grid-template-columns: repeat(2, 0.5fr);
    grid-gap: 3rem;
  }
}

@media screen and (min-device-width: 1600px) and (max-device-width: 1920px) {
  body {
    overflow-x: hidden;
  }
  body .header-flex {
    padding: 3rem;
  }
  body .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
  body .menu li {
    font-size: 16px;
  }
  body .ham {
    width: 35px;
  }
  body .logo img {
    height: 50px;
    width: 60px;
  }
  body .title {
    position: relative;
    top: 5rem;
    font-size: 80px;
  }
  body a {
    text-align: center;
  }
  body .grid-container {
    height: 60vh;
  }
  body .grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: 100vh;
        grid-template-rows: 100vh;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    grid-gap: 5rem;
    position: relative;
    bottom: 5rem;
  }
  body .left {
    -ms-grid-rows: (0.1fr)[3];
        grid-template-rows: repeat(3, 0.1fr);
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-gap: 3rem;
  }
  body footer {
    padding: 4rem;
    padding-top: 0;
  }
}

@media screen and (min-device-width: 1920px) and (max-device-width: 2560px) and (-webkit-min-device-pixel-ratio: 1) {
  body {
    overflow-y: hidden;
  }
  body .header-flex {
    padding: 3rem;
  }
  body .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
  body .menu li {
    font-size: 16px;
  }
  body .logo img {
    height: 50px;
    width: 60px;
  }
  body .title {
    position: relative;
    top: 5rem;
    font-size: 100px;
  }
  body a {
    text-align: center;
  }
  body .grid-container {
    height: 50vh;
  }
  body .grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: 100vh;
        grid-template-rows: 100vh;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    grid-gap: 5rem;
    position: relative;
    bottom: 5rem;
  }
  body .left {
    -ms-grid-rows: (0.1fr)[3];
        grid-template-rows: repeat(3, 0.1fr);
    -ms-grid-columns: (0.1fr)[2];
        grid-template-columns: repeat(2, 0.1fr);
    grid-gap: 3rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-device-width: 2560px) and (-webkit-min-device-pixel-ratio: 1) {
  body {
    overflow-y: hidden;
  }
  body .header-flex {
    padding: 4rem;
  }
  body .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
  body .menu li {
    font-size: 16px;
  }
  body .logo img {
    height: 50px;
    width: 60px;
  }
  body .title {
    font-size: 150px;
    position: relative;
    top: 20rem;
  }
  body a {
    text-align: center;
  }
  body .grid-container {
    height: 50vh;
  }
  body .grid {
    padding: 5rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: 50vh;
        grid-template-rows: 50vh;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    grid-gap: 5rem;
  }
  body .left {
    -ms-grid-rows: (0.1fr)[3];
        grid-template-rows: repeat(3, 0.1fr);
    -ms-grid-columns: (0.1fr)[2];
        grid-template-columns: repeat(2, 0.1fr);
    grid-gap: 3rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
/*# sourceMappingURL=main.css.map */